.poster{
  background:#eee;
  max-width:800px;
  max-height:800px;
  margin: 50px auto;
}

.container{
  border: 3px solid black;
  padding:30px;
}

.slides{
  padding:20px;
  border:4px solid #0360a6;
  background: #eee;
  overflow:hidden;
  padding:0px;
   
}

.belt{
  width:200%;
  display:flex;
  perspective:2000px;
  
  transition: transform 1s ease-in-out;
  
}

.slide{
  width:50%;
  height:400px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.slide1{
  background:#1585b6;
  transform-origin: center right;
}

.slide2{
  background:#9bd0d3;
}

.transformed{
   transform: translateX(-50%);
}

.button{
  padding:20px;
  background:blue;
  
}

.belt.transformed .slide1{
  -webkit-transform: scale(0.3) rotateY(-90deg);
          transform: scale(0.3) rotateY(-90deg);
  transition: transform 1s ease;
  
  
  
}

.button{
  width:20%;
  border-radius:10px;
  box-shadow:7px 7px 20px;
  background:#49bcab;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: transform 0.4s 0.3s cubic-bezier(0.42, 0.5, 0.6, 3.38);
}


.button-press{
  transform: scale(1.1) ;
}